DATABASE_URL="mysql://user:password@localhost:3306/makcom_ads"

AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

MAKE_SHARED_SECRET=""

MAKE_WEBHOOK_META_CONNECT=""
MAKE_WEBHOOK_META_LIST_ADACCOUNTS=""
MAKE_WEBHOOK_META_INSIGHTS=""
MAKE_WEBHOOK_CAMPAIGN_LIST=""
MAKE_WEBHOOK_CAMPAIGN_CREATE=""
MAKE_WEBHOOK_CAMPAIGN_UPDATE=""
MAKE_WEBHOOK_ADSET_LIST=""
MAKE_WEBHOOK_ADSET_CREATE=""
MAKE_WEBHOOK_AD_LIST=""
MAKE_WEBHOOK_AD_CREATE=""
MAKE_WEBHOOK_CREATIVE_CREATE=""
MAKE_WEBHOOK_IMAGE_UPLOAD=""
MAKE_WEBHOOK_VIDEO_UPLOAD=""

APP_BASE_URL="http://localhost:3000"
